.block-instagram {
    h1 {
        color: #2d5f90;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
    }
    .instagram {
        a {
            float: left;
            width: 16%;
            margin: 6px 0 0 6px;
            outline: none;
        }
    }
}
.modal {
    z-index: 99999999;
}
.modal-instagram .modal-dialog {
    width: auto;
    max-width: 940px;
}

.lb-instagram {
    background-color: #ffffff;
    padding: 15px;
    h2 {
        color: #1589ce;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }
    h3 {
        font-size: 30px !important;
        margin-top: 10px;
    }
    .block-button {
        max-width: 400px;
        margin: 0 auto;
    }
    .button {
        margin: 10px 20px 10px 0;
        display: inline-block;
        a {
            color: #fff;
            padding: 5px 15px;
            font-size: 30px;
            display: inline-block;
            text-decoration: none;
            img {
                display: inline;
            }
        }
    }
    .btn-shopnow {
        a {
            background-color: #f9941a;
        }

    }
    .btn-readmore {
        a {
            background-color: #53b4e6;
        }
    }
    .padding-none {
        padding: 0;
    }
    .close-modal {
        position: absolute;
        top: -29px;
        right: 0;
        width: 45px;
        border: 0;
        padding: 0;
        background: url(../../images/icon_close.png) no-repeat;
        text-indent: -999px;
    }
}

.item-list {
	ul.pager-load-more{
		li.pager-next{
			a{
			background:  url(../../images/arrow-down.png) no-repeat;
			width: 35px;
			height: 20px;
			font-size: 0px;	
			border-radius:0px !important;
			border: 0px !important;
			}
		}
		
	}
	
}
.instagram-cell {
    max-width: 153px;
    max-height: 153px;
    height: 10em;
    position: relative;
    img {
        max-width: 100%;
        max-height: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 992px) {
    .block-instagram .instagram a {
        width: 24%;
    }
    .lb-instagram .button img {
        max-width: 30px;
    }
    .lb-instagram .button a {
        padding: 5px 25px 5px 15px;
        font-size: 24px;
    }
    .instagram-cell {
        max-width: 176px;
        max-height: 176px;
    }
}
@media all and (max-width:768px) {
    .lb-instagram img {
        margin: 0 auto;
    }
    .lb-instagram h3 {
        text-align: center;
    }
    .block-instagram h1 {
        font-size: 30px;
    }
    .lb-instagram .block-button {
        max-width: 350px;
    }
}
@media screen and (max-width: 480px) {
    .block-instagram .instagram a {
        width: 100%;
        margin: 5px 0;
    }
    .modal-instagram .modal-dialog {
        margin-top: 35px;
    }
    .lb-instagram .button {
        width: 115px;
        margin: 10px auto;
    }
    .lb-instagram .button a {
        width: 115px;
        font-size: 20px;
        padding: 5px 10px 5px 5px;
    }
    .lb-instagram .close-modal {
        top: -28px;
    }
    .lb-instagram .button img {
        max-width: 25px;
    }
    .lb-instagram .block-button {
        max-width: 250px;
    }
    .instagram-cell {
        max-width: 124px;
        max-height: 124px;
    }
}
@media screen and (max-width: 480px) {
    .instagram-cell {
        max-width: 111px;
        max-height: 111px;
    }
}
@media screen and (max-width: 320px) {
    .instagram-cell {
        max-width: 98px;
        max-height: 98px;
    }
}