@font-face {
    font-family: 'KittithadaRoman55-Regular';
    src: url("../fonts/KittithadaRoman55_gdi.eot");
    src: url("../fonts/KittithadaRoman55_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/KittithadaRoman55_gdi.woff") format("woff"), url("../fonts/KittithadaRoman55_gdi.ttf") format("truetype"), url("../fonts/KittithadaRoman55_gdi.otf") format("opentype"), url("../fonts/KittithadaRoman55_gdi.svg#KittithadaRoman55-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F880;
    /*    unicode-range: U+0E00-0E7F,U+0020-0039;thai-only*/
}


html, body {
    font-size: 20px;
    font-family: 'KittithadaRoman55-Regular';
    color: #656565;
}

a {
    color: #656565;
    &:hover {
        text-decoration: none;
    }
}

.header .log-in ul li.menu-348 a {
    /* lazada */
    background: url(../images/lazada.png) left no-repeat;
    background-color: #009de0;
    padding-left: 30px;
    margin-left: 50px;
}

h3 {
    clear: both;
    margin-top: 40px;
    color: #009de0;
    font-weight: 100 !important;
    font-size: 20px !important;
}

.navbar-toggle {
    padding: 5px 8px !important;
    background-color: #009de0;
    color: #fff;


}

.navbar-left {
    float: left;
}
.top-banner {
    margin-bottom: 20px;
}

.carousel-indicators {
    bottom: -40px;
    left: 97%;
    li {
        margin: 0;
        width: 15px;
        height: 15px;
        border: none;
        border-radius: 0;
        background-color: #ccc;
        &.active {
            background-color: #009de0;
            width: 15px;
            height: 15px;
        }
    }
}

.header {
    margin-bottom: 40px;
    .slogan {
        display: inline-block;
        margin-top: 60px;
        padding-left: 20px;
    }
    .log-in {
        padding-top: 20px;
        ul {
            padding: 0;
            list-style-type: none;
            li {
                margin-left: 5px;
                display: inline-block;
                a {
                    /* lazada */
                    /*   min-height: 23px; */
                    /* padding: 2px 15px; */
                    height: 25px;
                    padding: 1px 15px;
                    background-color: #009de0;
                    color: #fff;
                    display: block;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .shop-online {
                border-left: 1px solid #ccc;
                padding-left: 7px;
            }
        }
        .fb-log {
            vertical-align: middle;
            display: inline-block;
        }
        .search-box {
            position: relative;
            z-index: 5000000;
            max-width: 220px;
            height: 33px;
            padding: 0;
            margin: 0;
            vertical-align: bottom;
            display: inline-block;




            .cse .gsc-search-button input.gsc-search-button-v2,
            input.gsc-search-button-v2 {
                height: 20px !important;
                margin-top: 0 !important;
                min-width: 13px !important;
                padding: 5px 5px !important;
                width: 20px !important;
                border-color: #009de0 !important;
                background-color: #009de0 !important; }

            .gsc-search-box-tools .gsc-search-box .gsc-input,
            table.gsc-search-box td,
            .gsc-input-box {
                background: #f8f6f4 !important;
                border: 0 !important;
                padding-top: 0 !important; }



            .gsc-control-cse {
                padding: 0;
                margin: 0;
                .gsc-control-wrapper-cse {
                    #gs_tti50 {
                        margin: 0;
                        padding: 0 0 0 5px;
                    }
                    .gsc-search-box {
                        .gsc-input-box {
                            height: 100%;
                            border: none;
                            padding: 0;
                            margin: 0;
                            vertical-align: middle;
                            > * {
                                //border: 1px solid #ccc;
                            }
                        }
                        .gsc-search-button {
                            box-sizing: content-box;
                            width: 10px;
                            //padding: 2px 5px 0 5px;
                            background-color: #009de0;
                            background-position: center;
                        }

                    }
                }
            }
        }
        .shopping-btn {
            float: right;
        }
    }
}
#gs_tti50 {


}

.gsc-search-box  tbody{
    border-top: 0;
}
.navbar {
    position: relative;
    margin-bottom: 0;
    border: 0;
    #navbar {
        padding: 0;
        background-color: #f1f1f1;
        ul {
            text-align: center;
            width: 100%;
            margin: 0;
            li {
                position: relative;
                width: 16.66666666666667%;
                a {
                    color: #656565;
                }
                &.active a {
                    color: #009de0;
                }
            }
        }
    }
    .dropdown {
        line-height: 1.6;
        /*1.4*/
        top: 45px;
        background-color: #f1f1f1;
        position: absolute;
        z-index: 100;
        padding: 0 10px;
        > div {
            width: 100%;
        }
        ul {
            margin-top: 10px;
        }
        li {
            cursor: pointer;
            padding: 2px;
            width: 100%;
            a:hover {
                color: #009de0;
            }
            > a {
                padding: 0px;
            }
            &.active, &:hover, &.active a, &:hover a {
                color: #009de0;
            }
        }
    }
}

.breadcrumb {
    background: none;
    padding-bottom: 0;
}

#myCarousel {
    /*border-bottom: 3px solid #009de0; */
}

#home {
    .top-banner {
        margin-bottom: 0;
    }
    #myCarousel {
        width: 100%;
        h1 {
            font-weight: bold;
            color: #000;
            margin: 0;
            span {
                font-weight: 100;
            }
            .ultra {
                letter-spacing: 24px;
            }
            .light {
                letter-spacing: 26px;
                color: #fff;
            }
        }
        h2 {
            color: #fff;
        }
        p {
            margin: 0;
            color: #000;
        }
        .badge {
            color: #fff;
            margin-bottom: 10px;
            border-radius: 0;
            background-color: #00adf1;
            padding: 5px;
        }
        .carousel-indicators {
            bottom: -5px;
            left: 6%;
        }
        .carousel-inner {
            padding: 0;
            > .item img {
                width: 100%;
                height: 100%;
            }
            .carousel-right {
                padding: 0;
                margin: 0;
            }
        }
    }
    .home-content {
        clear: both;
        padding: 0;
        .highlight {
            margin-top: 3px;
            padding: 0;
            padding-left: 1.5px;
            img {
                width: 100%;
            }
            &:first-child {
                padding-right: 1.5px;
                padding-left: 0 !important;
            }
        }
        .news-box {
            margin-top: 3px;
            padding: 0;
            > div {
                min-height: 240px;
                margin-right: 3px;
            }
            img {
                margin: auto;
                width: 100%;
            }
        }
    }
}

#products {
    h2 {
        font-size: 30px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-top: 0;
    }
    .carousel-inner img {
        width: 100%;
    }
    .product-item .sidenav {
        padding-left: 0;
        padding-right: 0;
        font-size: 20px;
        > ul {
            > li {
                cursor: pointer;
                cursor: hand;
                padding-left: 0;
                margin: 0;
                border-bottom: 1px solid #ccc;
                padding: 3px 0;
                margin-left: 0;
                .sub-nav li {
                    padding-left: 10px;
                }
            }
            li.active {
                color: #009de0;
                .sub-nav li.active a {
                    color: #009de0;
                }
            }
        }
    }
    .product-list > div {
        min-height: 390px;
        img {
            margin: auto;
            padding: 20px 0 10px 0;
        }
        .product-name {
            line-height: 1;
            color: #009de0;
            margin-bottom: 5px;
            font-size: 20px;
        }
        p {
            line-height: 0.8;
            font-size: 20px;
            word-break: none;
        }
    }
    &.inside .product-item {
        line-height: 1;
        h1, dt {
            color: #009de0;
        }
        dd {
            line-height: 1;
        }
        ol {
            padding-left: 17px;
        }
        .product-pic img {
            margin: auto;
        }
    }
}

/*   #products.inside .product-item h1, #products.inside .product-item span, #products.inside .product-item dt { */

#clips, #thank, #register, #detail_page {
    line-height: 1;
}

#clips h1, #thank h1, #register h1, #detail_page h1 {
    font-size: 28px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 0;
}

#about_us {
    > div > img {
        margin-bottom: 30px;
    }
    h1 {
        color: #009de0;
        font-size: 26px;
        margin: 0;
    }
    .clips-box {
        clear: both;
        .vid-stand {
            padding: 0;
            margin-bottom: 30px;
            width: 100%;
            iframe {
                width: 100%;
                height: 410px;
            }
            .date {
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
    .para {
        .pic-streth {
            margin-top: -15px;
            margin-bottom: 20px;
            padding: 0;
        }
        .width100 {
            width: 100%;
        }
        p {
            line-height: 1;
            margin-bottom: 20px;
            .blue {
                color: #009de0;
            }
        }
    }
    > div > img {
        width: 100%;
    }
}

#contact_us {
    h1, h2 {
        color: #009de0;
        font-size: 30px;
        margin: 0;
    }
    dl {
        margin: 0;
    }
    dt, dd {
        display: inline-block;
    }
    dt {
        color: #009de0;
    }
    .loc {
        margin-top: 20px;
        position: relative;
        #loc-nav {
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: center;
            > li {
                cursor: pointer;
                border: 1px solid #ccc;
                width: 16.66666666666667%;
                padding: 10px 0;
                &.active {
                    color: #fff;
                    background-color: #009de0;
                }
            }
            li:hover {
                color: #fff;
                background-color: #009de0;
            }
        }
        .inner {
            padding-top: 0;
            margin-top: 90px;
            width: 100%;
            .place {
                > li {
                    margin-bottom: 30px;
                    border: 1px solid #ccc;
                    h3 {
                        background: url(../images/about-arrow-down-w.png) no-repeat;
                        background-position: 98% 15px;
                        cursor: pointer;
                        padding: 5px 30px;
                        color: inherit;
                        margin: 0;
                    }
                    &.active {
                        border: none;
                        h3 {
                            background: url(../images/about-arrow-down-b.png) no-repeat;
                            background-position: 98% 15px;
                            background-color: #009de0;
                            color: #fff;
                        }
                    }
                }
                .inner-list {
                    display: none;
                    li {
                        border-bottom: 1px dotted #ccc;
                        padding: 5px 30px;
                        display: inline-block;
                        background: url(../images/contact-blue_dotted.png) no-repeat;
                        background-position: 20px 18px;
                        &:before {
                            width: 6px;
                            height: 4px;
                            background: url(../images/contact-blue_dotted.png) center center no-repeat;
                        }
                    }
                }
            }
        }
    }
    .locM {
        margin-top: 20px;
        position: relative;
        #locM-nav {
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: center;
            > li {
                cursor: pointer;
                border: 1px solid #ccc;
                width: 16.66666666666667%;
                padding: 10px 0;
                &.active {
                    color: #fff;
                    background-color: #009de0;
                }
            }
            li:hover {
                color: #fff;
                background-color: #009de0;
            }
        }
        .inner {
            padding-top: 0;
            margin-top: 90px;
            width: 100%;
            .place {
                > li {
                    margin-bottom: 30px;
                    border: 1px solid #ccc;
                    h3 {
                        background: url(../images/about-arrow-down-w.png) no-repeat;
                        background-position: 98% 15px;
                        cursor: pointer;
                        padding: 5px 30px;
                        color: inherit;
                        margin: 0;
                    }
                    &.active {
                        border: none;
                        h3 {
                            background: url(../images/about-arrow-down-b.png) no-repeat;
                            background-position: 98% 15px;
                            background-color: #009de0;
                            color: #fff;
                        }
                    }
                }
                .inner-list {
                    display: none;
                    li {
                        border-bottom: 1px dotted #ccc;
                        padding: 5px 30px;
                        display: inline-block;
                        background: url(../images/contact-blue_dotted.png) no-repeat;
                        background-position: 20px 18px;
                        &:before {
                            width: 6px;
                            height: 4px;
                            background: url(../images/contact-blue_dotted.png) center center no-repeat;
                        }
                    }
                }
            }
        }
    }
}

#news {
    h1 {
        display: inline-block;
        float: left;
        margin-top: 0;
        font-size: 28px;
        color: #009de0;
    }
    select {
        color: #009de0;
        float: right;
        width: 250px;
        border-color: #ccc;
    }
    .for-mobile {
        float: none;
        margin: 20px auto;
    }
    .news-nav {
        clear: both;
        > .nav {
            > {
                li {
                    font-weight: bold;
                    padding-left: 0;
                    cursor: pointer;
                    border-bottom: 1px solid #ccc;
                    background: url(../images/about-arrow-down-w.png) center right no-repeat;
                    background-position: 98% 10px;
                    a {
                        font-weight: bold;
                        padding: 0;
                    }
                    .inside li {
                        padding-left: 30px;
                        a {
                            font-weight: normal;
                        }
                    }
                    &:hover {
                        color: #009de0;
                        background-color: none;
                    }
                }
                .active {
                    color: #009de0;
                    background-color: none;
                }
                li:hover > a, .active > a {
                    color: #009de0;
                    background: none;
                    background-color: none;
                }
            }
            .inside {
                list-style-type: none;
                padding-left: 0;
                > li {
                    border-top: 1px solid #ccc;
                    &:hover a, &.active a {
                        color: #009de0;
                        background: none;
                    }
                }
            }
            &.no-bg > li {
                background: none;
            }
        }
    }
    nav {
        clear: both;
        text-align: center;
        .pagination li {
            a {
                color: inherit;
                border: none;
            }
            &:hover a, &.active a {
                color: #009de0;
                background: none;
            }
        }
    }
    .news-cont {
        padding: 0;
        div.col-sm-6 {
            margin-bottom: 30px;
            height: 270px;
        }
        .cont-wrap {
            border: 1px solid #ccc;
            img {
                width: 100%;
            }
        }
        .date {
            line-height: 1;
            color: #009de0;
            margin-top: 20px;
            padding-left: 15px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .desc {
            margin-top: 0;
            padding-left: 15px;
            padding-bottom: 10px;
        }
    }
    .clips-box {
        clear: both;
        .vid-stand {
            border: 1px solid #ccc;
            padding: 0;
            margin-bottom: 30px;
            width: 100%;
            iframe {
                width: 100%;
                height: 410px;
            }
            .date {
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
}

#register {
    line-height: 1;
    h2 {
        font-size: 26px;
        border-left: 15px solid #009de0;
        padding-left: 5px;
    }
    label {
        font-size: 20px;
        margin-bottom: 0;
        color: #009de0;
    }
    .form-group {
        font-size: 20px;
        p {
            margin: 0;
            color: #aaa;
        }
    }
    .multi-col {
        padding: 0;
    }
    .personal-detail {
        border-bottom: 1px solid #ccc;
        .name-address {
            padding-bottom: 20px;
        }
        .form-group {
            padding: 0 5px;
            margin: 3px 0;
        }
        .auNoccu {
            border-left: 1px solid #ccc;
            padding: 0;
        }
        .authen-detail {
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            .log-in-detail {
                .browse {
                    clear: both;
                    position: relative;
                    padding-right: 0;
                    overflow: hidden;
                    img {
                        position: relative;
                        margin: auto;
                    }
                    .browse-btn-cover {
                        overflow: hidden;
                        position: absolute;
                        top: 20px;
                        input {
                            opacity: 0;
                            filter: alpha(opacity = 0);
                            /* For IE8 and earlier */
                            border: none;
                            background: none;
                            z-index: 1;
                            font-size: 70px;
                        }
                    }
                }
                #check {
                    text-align: center;
                    display: block;
                    color: #fff;
                    padding: 0 5px;
                    vertical-align: middle;
                    width: 100px;
                    height: 22px;
                    background: url(../images/register-btn_bg.png) top left repeat-x;
                }
            }
        }
        .occupation {
            padding: 10px 0 10px 20px;
            font-size: 12px;
            h3 {
                margin: 0;
                font-size: 14px !important;
            }
            .age, .occu, .income {
                padding: 10px 0;
            }
        }
    }
    .accept-all {
        margin-right: 10px;
    }
    .submit-all {
        display: block;
        margin: 20px auto;
        width: 100px;
        border: none;
        background: url(../images/register-btn_bg.png) top left repeat-x;
        color: #fff;
    }
}

#detail_page {
    h1 {
        font-size: 20px;
        color: #009de0;
    }
    .date {
        margin-bottom: 0;
    }
    .page-box {
        .pic {
            padding-left: 0;
            img {
                margin: auto;
            }
        }
        .des {
            margin-top: 20px;
        }
    }
}

#clips {
    h1 {
        font-size: 20px;
        color: #009de0;
    }
    .vid-stand {
        margin: 20px auto;
        max-width: 560px;
        height: 410px;
        iframe {
            width: 100%;
            height: 100%;
        }
        .vid-detail {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .vid-des {
        clear: both;
    }
}

#thank > .thank-box {
    padding-top: 30px;
    div {
        text-align: center;
        h2, h3 {
            line-height: 1.2;
            font-size: 30px;
        }
        h2 {
            padding: 40px 0 0;
            margin-bottom: 0;
        }
        h3 {
            font-size: 30px !important;
            color: inherit;
            span {
                color: #009de0;
            }
        }
    }
}

#coming_soon {
    text-align: center;
    p {
        line-height: 0.5;
        font-size: 40px;
        margin: 150px auto;
        clear: both;
        display: inline-block;
        padding: 0 0 0 8px;
        border-left: 20px solid #009de0;
        vertical-align: middle;
    }
}

.nav li.parent > a {
    padding: 0;
}

.icon-bar {
    background-color: white;
    height: 4px !important;
}

.search {
    width: 55%;
    height: 40px;
    overflow: hidden;
    background-color: #f8f6f4;
    .input-search {
        display: inline-block; }
    .input-search .btn-search {
        border: 0;
        /*background-color: #f1edea;*/
        padding: 2px 10px; }
    .form-search {
        border: 0;
        border-radius: 0;
        background-color: #f8f6f4;
        font-size: 20px;
        padding: 0 5px 0 0;
        margin: 0;
        line-height: 30px;
        width: 100%;
        /*max-width: 200px;*/
        display: inline-block;
        border: white;
    }


    .cse .gsc-search-button input.gsc-search-button-v2,
    input.gsc-search-button-v2 {
        height: 26px !important;
        margin-top: 0 !important;
        min-width: 13px !important;
        padding: 5px 5px !important;
        width: 26px !important;
        border-color: #009de0 !important;
        background-color: #009de0 !important; }

    .gsc-search-box-tools .gsc-search-box .gsc-input,
    table.gsc-search-box td,
    .gsc-input-box {
        background: #f8f6f4 !important;
        border: 0 !important;
        padding-top: 0 !important; }




}


::-webkit-input-placeholder { /* Chrome */
    color: transparent;
}
:-ms-input-placeholder { /* IE 10+ */
    color: transparent;
}
::-moz-placeholder { /* Firefox 19+ */
    color: transparent;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: transparent;
    opacity: 1;
}

footer {
    clear: both;
    margin-top: 50px;
    .footer-menu .row {
        padding: 20px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        p {
            font-size: 22px;
        }
        ul {
            padding-left: 0;
            list-style-type: none;
        }
        > div {
            font-size: 20px;
            padding-top: 20px;
            min-height: 127px;
            border-left: 1px solid #ccc;
            &:first-child {
                border-left: none;
                ul li {
                    display: inline-block;
                    width: 45%;
                    line-height: 1.8;
                }
            }
        }
        .social ul li {
            display: inline-block;
            margin-right: 15px;
        }
    }
    .footer-contact {
        padding: 0;
        padding-bottom: 20px;
        margin-top: 20px;
        div {
            line-height: 1.2;
            font-size: 12px;
            p {
                margin-bottom: 0;
                span {
                    color: #009de0;
                }
            }
        }
        img {
            float: right;
        }
    }
}

@media all and (max-width: 393px) {
    .news-nav {
        vertical-align: middle;
        > li {
            text-align: center;
            line-height: 1;
            height: 50px;
        }
    }
}

@media all and (max-width: 406px) {
    .header {
        > img {
            float: none !important;
            margin: auto;
        }
        .log-in {
            width: 100%;
            text-align: center;
            float: none;
        }
    }
}

@media all and (max-width: 768px) {
    .navbar {
        margin-bottom: 0;
        #navbar {
            padding: 0;
            background-color: #f1f1f1;
            > ul {
                text-align: center;
                width: 100%;
                margin: 0;
                > li {
                    width: 100% !important;
                    padding: 0 !important;
                    > a {
                        color: #656565;
                    }
                }
                .sub-menu ul {
                    margin: 5px 0;
                    line-height: 1;
                    text-align: left;
                    li {
                        width: 100%;
                        padding: 0;
                        a {
                            padding: 3px 0;
                            &:hover {
                                color: inherit;
                            }
                        }
                        &:first-child {
                            color: #009de0;
                        }
                    }
                }
            }
        }
    }
    .header {
        margin-bottom: 0px;
        .slogan-mobile {
            padding: 10px 0;
            margin: auto;
        }
        .log-in ul {
            float: none;
            li {
                display: block;
                margin-bottom: 5px;
            }
            .shop-online {
                border-left: none;
                padding-left: 0;
            }
        }
    }
    #myCarousel .carousel-indicators {
        left: 50% !important;
    }
    footer {
        .row {
            text-align: center;
        }
        .footer-menu .row > div {
            min-height: 0;
        }
    }
    .loc #loc-nav > li {
        width: 100% !important;
    }
    #loc-nav .long {
        line-height: 1.4 !important;
    }
    .locM #locM-nav > li {
        width: 100% !important;
    }
    #locM-nav .long {
        line-height: 1.4 !important;
    }
}

@media (max-width: 992px) {
    .header .slogan {
        width: 30%;
    }
    .breadcrumb li {
        display: block;
    }
    #products .product-list > div {
        min-height: 170px;
        margin: 20px 0;
    }
    #loc-nav .long {
        line-height: 0.7;
    }
    footer .footer-menu .social ul li {
        margin-right: 10px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/*new*/

a.buylazada {
    margin-top: 15px;
    display: inherit;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
}

/*# sourceMappingURL=main.css.map */