@font-face {
  font-family: 'KittithadaRoman55-Regular';
  src: url("../fonts/KittithadaRoman55_gdi.eot");
  src: url("../fonts/KittithadaRoman55_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/KittithadaRoman55_gdi.woff") format("woff"), url("../fonts/KittithadaRoman55_gdi.ttf") format("truetype"), url("../fonts/KittithadaRoman55_gdi.otf") format("opentype"), url("../fonts/KittithadaRoman55_gdi.svg#KittithadaRoman55-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F880;
  /*    unicode-range: U+0E00-0E7F,U+0020-0039;thai-only*/ }
html, body {
  font-size: 20px;
  font-family: 'KittithadaRoman55-Regular';
  color: #656565; }

a {
  color: #656565; }
  a:hover {
    text-decoration: none; }

.header .log-in ul li.menu-348 a {
  /* lazada */
  background: url(../images/lazada.png) left no-repeat;
  background-color: #009de0;
  padding-left: 30px;
  margin-left: 50px; }

h3 {
  clear: both;
  margin-top: 40px;
  color: #009de0;
  font-weight: 100 !important;
  font-size: 20px !important; }

.navbar-toggle {
  padding: 5px 8px !important;
  background-color: #009de0;
  color: #fff; }

.navbar-left {
  float: left; }

.top-banner {
  margin-bottom: 20px; }

.carousel-indicators {
  bottom: -40px;
  left: 97%; }
  .carousel-indicators li {
    margin: 0;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 0;
    background-color: #ccc; }
    .carousel-indicators li.active {
      background-color: #009de0;
      width: 15px;
      height: 15px; }

.header {
  margin-bottom: 40px; }
  .header .slogan {
    display: inline-block;
    margin-top: 60px;
    padding-left: 20px; }
  .header .log-in {
    padding-top: 20px; }
    .header .log-in ul {
      padding: 0;
      list-style-type: none; }
      .header .log-in ul li {
        margin-left: 5px;
        display: inline-block; }
        .header .log-in ul li a {
          /* lazada */
          /*   min-height: 23px; */
          /* padding: 2px 15px; */
          height: 25px;
          padding: 1px 15px;
          background-color: #009de0;
          color: #fff;
          display: block; }
          .header .log-in ul li a:hover {
            text-decoration: none; }
      .header .log-in ul .shop-online {
        border-left: 1px solid #ccc;
        padding-left: 7px; }
    .header .log-in .fb-log {
      vertical-align: middle;
      display: inline-block; }
    .header .log-in .search-box {
      position: relative;
      z-index: 5000000;
      max-width: 220px;
      height: 33px;
      padding: 0;
      margin: 0;
      vertical-align: bottom;
      display: inline-block; }
      .header .log-in .search-box .cse .gsc-search-button input.gsc-search-button-v2,
      .header .log-in .search-box input.gsc-search-button-v2 {
        height: 20px !important;
        margin-top: 0 !important;
        min-width: 13px !important;
        padding: 5px 5px !important;
        width: 20px !important;
        border-color: #009de0 !important;
        background-color: #009de0 !important; }
      .header .log-in .search-box .gsc-search-box-tools .gsc-search-box .gsc-input,
      .header .log-in .search-box table.gsc-search-box td,
      .header .log-in .search-box .gsc-input-box {
        background: #f8f6f4 !important;
        border: 0 !important;
        padding-top: 0 !important; }
      .header .log-in .search-box .gsc-control-cse {
        padding: 0;
        margin: 0; }
        .header .log-in .search-box .gsc-control-cse .gsc-control-wrapper-cse #gs_tti50 {
          margin: 0;
          padding: 0 0 0 5px; }
        .header .log-in .search-box .gsc-control-cse .gsc-control-wrapper-cse .gsc-search-box .gsc-input-box {
          height: 100%;
          border: none;
          padding: 0;
          margin: 0;
          vertical-align: middle; }
        .header .log-in .search-box .gsc-control-cse .gsc-control-wrapper-cse .gsc-search-box .gsc-search-button {
          box-sizing: content-box;
          width: 10px;
          background-color: #009de0;
          background-position: center; }
    .header .log-in .shopping-btn {
      float: right; }

.gsc-search-box tbody {
  border-top: 0; }

.navbar {
  position: relative;
  margin-bottom: 0;
  border: 0; }
  .navbar #navbar {
    padding: 0;
    background-color: #f1f1f1; }
    .navbar #navbar ul {
      text-align: center;
      width: 100%;
      margin: 0; }
      .navbar #navbar ul li {
        position: relative;
        width: 16.66666666666667%; }
        .navbar #navbar ul li a {
          color: #656565; }
        .navbar #navbar ul li.active a {
          color: #009de0; }
  .navbar .dropdown {
    line-height: 1.6;
    /*1.4*/
    top: 45px;
    background-color: #f1f1f1;
    position: absolute;
    z-index: 100;
    padding: 0 10px; }
    .navbar .dropdown > div {
      width: 100%; }
    .navbar .dropdown ul {
      margin-top: 10px; }
    .navbar .dropdown li {
      cursor: pointer;
      padding: 2px;
      width: 100%; }
      .navbar .dropdown li a:hover {
        color: #009de0; }
      .navbar .dropdown li > a {
        padding: 0px; }
      .navbar .dropdown li.active, .navbar .dropdown li:hover, .navbar .dropdown li.active a, .navbar .dropdown li:hover a {
        color: #009de0; }

.breadcrumb {
  background: none;
  padding-bottom: 0; }

#myCarousel {
  /*border-bottom: 3px solid #009de0; */ }

#home .top-banner {
  margin-bottom: 0; }
#home #myCarousel {
  width: 100%; }
  #home #myCarousel h1 {
    font-weight: bold;
    color: #000;
    margin: 0; }
    #home #myCarousel h1 span {
      font-weight: 100; }
    #home #myCarousel h1 .ultra {
      letter-spacing: 24px; }
    #home #myCarousel h1 .light {
      letter-spacing: 26px;
      color: #fff; }
  #home #myCarousel h2 {
    color: #fff; }
  #home #myCarousel p {
    margin: 0;
    color: #000; }
  #home #myCarousel .badge {
    color: #fff;
    margin-bottom: 10px;
    border-radius: 0;
    background-color: #00adf1;
    padding: 5px; }
  #home #myCarousel .carousel-indicators {
    bottom: -5px;
    left: 6%; }
  #home #myCarousel .carousel-inner {
    padding: 0; }
    #home #myCarousel .carousel-inner > .item img {
      width: 100%;
      height: 100%; }
    #home #myCarousel .carousel-inner .carousel-right {
      padding: 0;
      margin: 0; }
#home .home-content {
  clear: both;
  padding: 0; }
  #home .home-content .highlight {
    margin-top: 3px;
    padding: 0;
    padding-left: 1.5px; }
    #home .home-content .highlight img {
      width: 100%; }
    #home .home-content .highlight:first-child {
      padding-right: 1.5px;
      padding-left: 0 !important; }
  #home .home-content .news-box {
    margin-top: 3px;
    padding: 0; }
    #home .home-content .news-box > div {
      min-height: 240px;
      margin-right: 3px; }
    #home .home-content .news-box img {
      margin: auto;
      width: 100%; }

#products h2 {
  font-size: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top: 0; }
#products .carousel-inner img {
  width: 100%; }
#products .product-item .sidenav {
  padding-left: 0;
  padding-right: 0;
  font-size: 20px; }
  #products .product-item .sidenav > ul > li {
    cursor: pointer;
    cursor: hand;
    padding-left: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
    margin-left: 0; }
    #products .product-item .sidenav > ul > li .sub-nav li {
      padding-left: 10px; }
  #products .product-item .sidenav > ul li.active {
    color: #009de0; }
    #products .product-item .sidenav > ul li.active .sub-nav li.active a {
      color: #009de0; }
#products .product-list > div {
  min-height: 390px; }
  #products .product-list > div img {
    margin: auto;
    padding: 20px 0 10px 0; }
  #products .product-list > div .product-name {
    line-height: 1;
    color: #009de0;
    margin-bottom: 5px;
    font-size: 20px; }
  #products .product-list > div p {
    line-height: 0.8;
    font-size: 20px;
    word-break: none; }
#products.inside .product-item {
  line-height: 1; }
  #products.inside .product-item h1, #products.inside .product-item dt {
    color: #009de0; }
  #products.inside .product-item dd {
    line-height: 1; }
  #products.inside .product-item ol {
    padding-left: 17px; }
  #products.inside .product-item .product-pic img {
    margin: auto; }

/*   #products.inside .product-item h1, #products.inside .product-item span, #products.inside .product-item dt { */
#clips, #thank, #register, #detail_page {
  line-height: 1; }

#clips h1, #thank h1, #register h1, #detail_page h1 {
  font-size: 28px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top: 0; }

#about_us > div > img {
  margin-bottom: 30px; }
#about_us h1 {
  color: #009de0;
  font-size: 26px;
  margin: 0; }
#about_us .clips-box {
  clear: both; }
  #about_us .clips-box .vid-stand {
    padding: 0;
    margin-bottom: 30px;
    width: 100%; }
    #about_us .clips-box .vid-stand iframe {
      width: 100%;
      height: 410px; }
    #about_us .clips-box .vid-stand .date {
      margin-top: 10px;
      margin-bottom: 0; }
#about_us .para .pic-streth {
  margin-top: -15px;
  margin-bottom: 20px;
  padding: 0; }
#about_us .para .width100 {
  width: 100%; }
#about_us .para p {
  line-height: 1;
  margin-bottom: 20px; }
  #about_us .para p .blue {
    color: #009de0; }
#about_us > div > img {
  width: 100%; }

#contact_us h1, #contact_us h2 {
  color: #009de0;
  font-size: 30px;
  margin: 0; }
#contact_us dl {
  margin: 0; }
#contact_us dt, #contact_us dd {
  display: inline-block; }
#contact_us dt {
  color: #009de0; }
#contact_us .loc {
  margin-top: 20px;
  position: relative; }
  #contact_us .loc #loc-nav {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center; }
    #contact_us .loc #loc-nav > li {
      cursor: pointer;
      border: 1px solid #ccc;
      width: 16.66666666666667%;
      padding: 10px 0; }
      #contact_us .loc #loc-nav > li.active {
        color: #fff;
        background-color: #009de0; }
    #contact_us .loc #loc-nav li:hover {
      color: #fff;
      background-color: #009de0; }
  #contact_us .loc .inner {
    padding-top: 0;
    margin-top: 90px;
    width: 100%; }
    #contact_us .loc .inner .place > li {
      margin-bottom: 30px;
      border: 1px solid #ccc; }
      #contact_us .loc .inner .place > li h3 {
        background: url(../images/about-arrow-down-w.png) no-repeat;
        background-position: 98% 15px;
        cursor: pointer;
        padding: 5px 30px;
        color: inherit;
        margin: 0; }
      #contact_us .loc .inner .place > li.active {
        border: none; }
        #contact_us .loc .inner .place > li.active h3 {
          background: url(../images/about-arrow-down-b.png) no-repeat;
          background-position: 98% 15px;
          background-color: #009de0;
          color: #fff; }
    #contact_us .loc .inner .place .inner-list {
      display: none; }
      #contact_us .loc .inner .place .inner-list li {
        border-bottom: 1px dotted #ccc;
        padding: 5px 30px;
        display: inline-block;
        background: url(../images/contact-blue_dotted.png) no-repeat;
        background-position: 20px 18px; }
        #contact_us .loc .inner .place .inner-list li:before {
          width: 6px;
          height: 4px;
          background: url(../images/contact-blue_dotted.png) center center no-repeat; }
#contact_us .locM {
  margin-top: 20px;
  position: relative; }
  #contact_us .locM #locM-nav {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center; }
    #contact_us .locM #locM-nav > li {
      cursor: pointer;
      border: 1px solid #ccc;
      width: 16.66666666666667%;
      padding: 10px 0; }
      #contact_us .locM #locM-nav > li.active {
        color: #fff;
        background-color: #009de0; }
    #contact_us .locM #locM-nav li:hover {
      color: #fff;
      background-color: #009de0; }
  #contact_us .locM .inner {
    padding-top: 0;
    margin-top: 90px;
    width: 100%; }
    #contact_us .locM .inner .place > li {
      margin-bottom: 30px;
      border: 1px solid #ccc; }
      #contact_us .locM .inner .place > li h3 {
        background: url(../images/about-arrow-down-w.png) no-repeat;
        background-position: 98% 15px;
        cursor: pointer;
        padding: 5px 30px;
        color: inherit;
        margin: 0; }
      #contact_us .locM .inner .place > li.active {
        border: none; }
        #contact_us .locM .inner .place > li.active h3 {
          background: url(../images/about-arrow-down-b.png) no-repeat;
          background-position: 98% 15px;
          background-color: #009de0;
          color: #fff; }
    #contact_us .locM .inner .place .inner-list {
      display: none; }
      #contact_us .locM .inner .place .inner-list li {
        border-bottom: 1px dotted #ccc;
        padding: 5px 30px;
        display: inline-block;
        background: url(../images/contact-blue_dotted.png) no-repeat;
        background-position: 20px 18px; }
        #contact_us .locM .inner .place .inner-list li:before {
          width: 6px;
          height: 4px;
          background: url(../images/contact-blue_dotted.png) center center no-repeat; }

#news h1 {
  display: inline-block;
  float: left;
  margin-top: 0;
  font-size: 28px;
  color: #009de0; }
#news select {
  color: #009de0;
  float: right;
  width: 250px;
  border-color: #ccc; }
#news .for-mobile {
  float: none;
  margin: 20px auto; }
#news .news-nav {
  clear: both; }
  #news .news-nav > .nav > li {
    font-weight: bold;
    padding-left: 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background: url(../images/about-arrow-down-w.png) center right no-repeat;
    background-position: 98% 10px; }
    #news .news-nav > .nav > li a {
      font-weight: bold;
      padding: 0; }
    #news .news-nav > .nav > li .inside li {
      padding-left: 30px; }
      #news .news-nav > .nav > li .inside li a {
        font-weight: normal; }
    #news .news-nav > .nav > li:hover {
      color: #009de0;
      background-color: none; }
  #news .news-nav > .nav > .active {
    color: #009de0;
    background-color: none; }
  #news .news-nav > .nav > li:hover > a, #news .news-nav > .nav > .active > a {
    color: #009de0;
    background: none;
    background-color: none; }
  #news .news-nav > .nav .inside {
    list-style-type: none;
    padding-left: 0; }
    #news .news-nav > .nav .inside > li {
      border-top: 1px solid #ccc; }
      #news .news-nav > .nav .inside > li:hover a, #news .news-nav > .nav .inside > li.active a {
        color: #009de0;
        background: none; }
  #news .news-nav > .nav.no-bg > li {
    background: none; }
#news nav {
  clear: both;
  text-align: center; }
  #news nav .pagination li a {
    color: inherit;
    border: none; }
  #news nav .pagination li:hover a, #news nav .pagination li.active a {
    color: #009de0;
    background: none; }
#news .news-cont {
  padding: 0; }
  #news .news-cont div.col-sm-6 {
    margin-bottom: 30px;
    height: 270px; }
  #news .news-cont .cont-wrap {
    border: 1px solid #ccc; }
    #news .news-cont .cont-wrap img {
      width: 100%; }
  #news .news-cont .date {
    line-height: 1;
    color: #009de0;
    margin-top: 20px;
    padding-left: 15px;
    padding-bottom: 0;
    margin-bottom: 0; }
  #news .news-cont .desc {
    margin-top: 0;
    padding-left: 15px;
    padding-bottom: 10px; }
#news .clips-box {
  clear: both; }
  #news .clips-box .vid-stand {
    border: 1px solid #ccc;
    padding: 0;
    margin-bottom: 30px;
    width: 100%; }
    #news .clips-box .vid-stand iframe {
      width: 100%;
      height: 410px; }
    #news .clips-box .vid-stand .date {
      margin-top: 10px;
      margin-bottom: 0; }

#register {
  line-height: 1; }
  #register h2 {
    font-size: 26px;
    border-left: 15px solid #009de0;
    padding-left: 5px; }
  #register label {
    font-size: 20px;
    margin-bottom: 0;
    color: #009de0; }
  #register .form-group {
    font-size: 20px; }
    #register .form-group p {
      margin: 0;
      color: #aaa; }
  #register .multi-col {
    padding: 0; }
  #register .personal-detail {
    border-bottom: 1px solid #ccc; }
    #register .personal-detail .name-address {
      padding-bottom: 20px; }
    #register .personal-detail .form-group {
      padding: 0 5px;
      margin: 3px 0; }
    #register .personal-detail .auNoccu {
      border-left: 1px solid #ccc;
      padding: 0; }
    #register .personal-detail .authen-detail {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px; }
      #register .personal-detail .authen-detail .log-in-detail .browse {
        clear: both;
        position: relative;
        padding-right: 0;
        overflow: hidden; }
        #register .personal-detail .authen-detail .log-in-detail .browse img {
          position: relative;
          margin: auto; }
        #register .personal-detail .authen-detail .log-in-detail .browse .browse-btn-cover {
          overflow: hidden;
          position: absolute;
          top: 20px; }
          #register .personal-detail .authen-detail .log-in-detail .browse .browse-btn-cover input {
            opacity: 0;
            filter: alpha(opacity=0);
            /* For IE8 and earlier */
            border: none;
            background: none;
            z-index: 1;
            font-size: 70px; }
      #register .personal-detail .authen-detail .log-in-detail #check {
        text-align: center;
        display: block;
        color: #fff;
        padding: 0 5px;
        vertical-align: middle;
        width: 100px;
        height: 22px;
        background: url(../images/register-btn_bg.png) top left repeat-x; }
    #register .personal-detail .occupation {
      padding: 10px 0 10px 20px;
      font-size: 12px; }
      #register .personal-detail .occupation h3 {
        margin: 0;
        font-size: 14px !important; }
      #register .personal-detail .occupation .age, #register .personal-detail .occupation .occu, #register .personal-detail .occupation .income {
        padding: 10px 0; }
  #register .accept-all {
    margin-right: 10px; }
  #register .submit-all {
    display: block;
    margin: 20px auto;
    width: 100px;
    border: none;
    background: url(../images/register-btn_bg.png) top left repeat-x;
    color: #fff; }

#detail_page h1 {
  font-size: 20px;
  color: #009de0; }
#detail_page .date {
  margin-bottom: 0; }
#detail_page .page-box .pic {
  padding-left: 0; }
  #detail_page .page-box .pic img {
    margin: auto; }
#detail_page .page-box .des {
  margin-top: 20px; }

#clips h1 {
  font-size: 20px;
  color: #009de0; }
#clips .vid-stand {
  margin: 20px auto;
  max-width: 560px;
  height: 410px; }
  #clips .vid-stand iframe {
    width: 100%;
    height: 100%; }
  #clips .vid-stand .vid-detail {
    margin-top: 10px;
    font-size: 12px; }
#clips .vid-des {
  clear: both; }

#thank > .thank-box {
  padding-top: 30px; }
  #thank > .thank-box div {
    text-align: center; }
    #thank > .thank-box div h2, #thank > .thank-box div h3 {
      line-height: 1.2;
      font-size: 30px; }
    #thank > .thank-box div h2 {
      padding: 40px 0 0;
      margin-bottom: 0; }
    #thank > .thank-box div h3 {
      font-size: 30px !important;
      color: inherit; }
      #thank > .thank-box div h3 span {
        color: #009de0; }

#coming_soon {
  text-align: center; }
  #coming_soon p {
    line-height: 0.5;
    font-size: 40px;
    margin: 150px auto;
    clear: both;
    display: inline-block;
    padding: 0 0 0 8px;
    border-left: 20px solid #009de0;
    vertical-align: middle; }

.nav li.parent > a {
  padding: 0; }

.icon-bar {
  background-color: white;
  height: 4px !important; }

.search {
  width: 55%;
  height: 40px;
  overflow: hidden;
  background-color: #f8f6f4; }
  .search .input-search {
    display: inline-block; }
  .search .input-search .btn-search {
    border: 0;
    /*background-color: #f1edea;*/
    padding: 2px 10px; }
  .search .form-search {
    border: 0;
    border-radius: 0;
    background-color: #f8f6f4;
    font-size: 20px;
    padding: 0 5px 0 0;
    margin: 0;
    line-height: 30px;
    width: 100%;
    /*max-width: 200px;*/
    display: inline-block;
    border: white; }
  .search .cse .gsc-search-button input.gsc-search-button-v2,
  .search input.gsc-search-button-v2 {
    height: 26px !important;
    margin-top: 0 !important;
    min-width: 13px !important;
    padding: 5px 5px !important;
    width: 26px !important;
    border-color: #009de0 !important;
    background-color: #009de0 !important; }
  .search .gsc-search-box-tools .gsc-search-box .gsc-input,
  .search table.gsc-search-box td,
  .search .gsc-input-box {
    background: #f8f6f4 !important;
    border: 0 !important;
    padding-top: 0 !important; }

::-webkit-input-placeholder {
  /* Chrome */
  color: transparent; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
  opacity: 1; }

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: transparent;
  opacity: 1; }

footer {
  clear: both;
  margin-top: 50px; }
  footer .footer-menu .row {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
    footer .footer-menu .row p {
      font-size: 22px; }
    footer .footer-menu .row ul {
      padding-left: 0;
      list-style-type: none; }
    footer .footer-menu .row > div {
      font-size: 20px;
      padding-top: 20px;
      min-height: 127px;
      border-left: 1px solid #ccc; }
      footer .footer-menu .row > div:first-child {
        border-left: none; }
        footer .footer-menu .row > div:first-child ul li {
          display: inline-block;
          width: 45%;
          line-height: 1.8; }
    footer .footer-menu .row .social ul li {
      display: inline-block;
      margin-right: 15px; }
  footer .footer-contact {
    padding: 0;
    padding-bottom: 20px;
    margin-top: 20px; }
    footer .footer-contact div {
      line-height: 1.2;
      font-size: 12px; }
      footer .footer-contact div p {
        margin-bottom: 0; }
        footer .footer-contact div p span {
          color: #009de0; }
    footer .footer-contact img {
      float: right; }

@media all and (max-width: 393px) {
  .news-nav {
    vertical-align: middle; }
    .news-nav > li {
      text-align: center;
      line-height: 1;
      height: 50px; } }
@media all and (max-width: 406px) {
  .header > img {
    float: none !important;
    margin: auto; }
  .header .log-in {
    width: 100%;
    text-align: center;
    float: none; } }
@media all and (max-width: 768px) {
  .navbar {
    margin-bottom: 0; }
    .navbar #navbar {
      padding: 0;
      background-color: #f1f1f1; }
      .navbar #navbar > ul {
        text-align: center;
        width: 100%;
        margin: 0; }
        .navbar #navbar > ul > li {
          width: 100% !important;
          padding: 0 !important; }
          .navbar #navbar > ul > li > a {
            color: #656565; }
        .navbar #navbar > ul .sub-menu ul {
          margin: 5px 0;
          line-height: 1;
          text-align: left; }
          .navbar #navbar > ul .sub-menu ul li {
            width: 100%;
            padding: 0; }
            .navbar #navbar > ul .sub-menu ul li a {
              padding: 3px 0; }
              .navbar #navbar > ul .sub-menu ul li a:hover {
                color: inherit; }
            .navbar #navbar > ul .sub-menu ul li:first-child {
              color: #009de0; }

  .header {
    margin-bottom: 0px; }
    .header .slogan-mobile {
      padding: 10px 0;
      margin: auto; }
    .header .log-in ul {
      float: none; }
      .header .log-in ul li {
        display: block;
        margin-bottom: 5px; }
      .header .log-in ul .shop-online {
        border-left: none;
        padding-left: 0; }

  #myCarousel .carousel-indicators {
    left: 50% !important; }

  footer .row {
    text-align: center; }
  footer .footer-menu .row > div {
    min-height: 0; }

  .loc #loc-nav > li {
    width: 100% !important; }

  #loc-nav .long {
    line-height: 1.4 !important; }

  .locM #locM-nav > li {
    width: 100% !important; }

  #locM-nav .long {
    line-height: 1.4 !important; } }
@media (max-width: 992px) {
  .header .slogan {
    width: 30%; }

  .breadcrumb li {
    display: block; }

  #products .product-list > div {
    min-height: 170px;
    margin: 20px 0; }

  #loc-nav .long {
    line-height: 0.7; }

  footer .footer-menu .social ul li {
    margin-right: 10px !important; } }
@media (min-width: 1200px) {
  .container {
    width: 970px; } }
/*new*/
a.buylazada {
  margin-top: 15px;
  display: inherit; }
  a.buylazada img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
